.login__title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 39px;
}

.login{
    padding-top: 110px;
}
.login__button button{
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    background: #FFAD32;
    border-radius: 50px;
    padding:15px 25px;
    outline: none;
    border: none;
    margin-right: 32px;
}
.register__link a{
    color: #000000;
}
.form{
    max-width: 472px;
    width:100%;
}
@media (max-width: 472px){
    .form{
        padding:0 10px;
    }
}