.like:hover, .unlike:hover{
    color:gold;
    cursor: pointer;
}

.my__orders_title{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px; 
    color: #000000;
    margin-bottom: 47px;
}
.my__orders_tab{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px; 
    border-bottom: 1px solid black;
}
.my__orders{
    padding-top: 80px;
    margin-bottom: 47px;
}
.my__orders_items{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr);
    gap: 7px;
}
@media (max-width: 600px){
    
    .my__orders_items{
        grid-template-columns: repeat(2,1fr);
    }
}

.my__orders_item{
    max-width: 374px;
    width: 100%;
    background: #E1E9F4;
    border-radius: 10px;
    padding-top: 23px;
    padding-left: 28px;
    padding-bottom: 26px;
}
.my__orders_item_title{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 17px;
}
.my__orders_item-trackCode{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.request_button{
    color: #000;
    text-align: center;
    font-size: 14px;
    width: fit-content;
    border-radius: 20px;
    background: #ffad32;
    font-weight: 500;
    padding: 8px 35px;
    cursor: pointer;
}
.button_red {
    color: #fff;
    background: rgb(255, 0, 0);
}
.table_header_order{
    width: 372px;
}