.price span{
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    position: relative;
    top:2px;
}
.overall__item{
    font-weight: 400;
    font-size: 17px;
    color: #000000;   
}
.overall__item span{
    font-weight: 700!important;
    font-size: 20px!important;
    color: #000000;
}
.price{
    margin-bottom: 16px;
}
.price__bold{
    font-weight: 700!important;
    font-size: 20px!important;
    color: #000000;
}
.ind{
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    margin-bottom: 11px;
}

.ind span{
    color:#FFAD32;
}
.volume{
    text-align: center;
    width:100%;
    font-size: 18px;
    text-decoration: underline;
    color:#1890ff;
    font-weight: 700;
}
.account__item_text{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.account__item_text span{
    font-weight: 700;
}
.account__item_text div{
    margin-bottom: 24px;
}
.plus{
    width: fit-content;
}
.plus__icon{
    background: #FFAD32;
    padding:10px 15px;
    border-radius: 50%;
    margin-right: 18px;
}
.title{
    margin-top: 30px;
    margin-bottom: 11px;
}
@media (max-width:500px){
    .title{
        text-align: center;
    }
    .plus{
        top:0!important;
        justify-content: center!important;
        margin-bottom: 27px;
    }
    .overall{
        text-align: center;
    }
    .confirm__tip{
        text-align: center;
    }
    .ind{
        text-align: left!important;
    }
    .modal__tips{
        padding:10px!important;
    }
}
.tip{
    font-weight:300;
    font-size: 17px;
    color: #000000;
}
.tips{
    margin-bottom: 20px;
}
.inputs{
    gap:20px;
    margin-bottom: 35px!important;
}
.input{
    width:100%;
}
.inputs__wrapper{
    gap:20px;
    margin-bottom: 20px;
}  
.overall{
    margin-bottom: 20px;
    border:1px solid #d9d9d9;
    width: 100%;
    padding:20px;
    border-radius: 4px;
}
.confirm__tip{
    font-weight: 400;
    font-size: 14px;
    color: #B9B9B9;
    margin-bottom: 21px;
}
.plus{
    display: flex;
    align-items: center;
    position: relative;
    top:-30px;
}
.plus__text{
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.remove__button{
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    background: #E1E9F4;
    border-radius: 10px;
    padding:14px 24px;
    height: fit-content;
}
.item{
    margin-bottom: 25px;
}
.modal__title{
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    margin-top: 44px;
    margin-bottom: 38px;
}
.inds{
    margin-bottom: 45px;
}
.modal__tips{
    max-width: 491px;
    background: #FFAD32;    
    border-radius: 10px;
    padding: 22px 0px 27px 29px;
    margin-bottom: 52px;
}
.label{
    width:350px;
    font-size: 16px;
}
.label__input{
    width: 100%;
}
.switch{
    margin-left: 10px;
    position: relative;
    top:2px;
    font-size: 16px;
}
.selects__wrapper{
    width: 50%;
}
.overall__wrapper{
    width: 50%;
}

@media (max-width:768px){
    .selects__wrapper{
        width: 100%;
    }
    .overall__wrapper{
        width: 100%;
    }
}