.filters{
    margin-top: 32px;
}

.title{
    font-weight: 700;
    font-size:18px;
}

.item{
    display: flex;
    gap: 6px; 
    margin-bottom: 4px;
    cursor: pointer;
}

.filter{
    margin-bottom: 16px;
}

.slider{
    margin-right: 24px;
}

.button{
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    background: #FFAD32;
    font-weight: 700;
    padding:8px 0;
    cursor: pointer;
    margin-right: 24px;
}