.filters {
  --horizontal-gap: 20px;
  --vertical-gap: 16px;
  --border-radius: 8px;
  --button-border-radius: 20px;
  --one-item-height: 40px;
  --main-color: #f0f0f0;
  --main-color-darker: #e4e4e4;
  --main-color-hover: #e7e7e7;
  --accent-color: #ffad32;
  --accent-color-hover: #ffbe5e;
  --accent-color2: #333333;
  --addButton-bg: #fefefe;

  color: var(--accent-color2);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--vertical-gap);
  height: 100%;
	overflow-x: auto;
	padding: calc(var(--vertical-gap)) calc(var(--horizontal-gap) * 1.5);
}

.filter {
	text-align: start;
	padding: 0;
	margin: 0;
}

.title {
	font-weight: 600;
	font-size: 1.5rem;
	margin: 0;
}

.filter__item{
	display: flex;
	flex-direction: column;
}

.filter__label{
	position: relative;
	padding-left: 20px;
	cursor: pointer;
}
.filter__label:not(:first-child){
	margin-top: 6px;
}
.filter__label > span::after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 16px;
	aspect-ratio: 1;
	border: 1px solid var(--accent-color2);
	transform: translateY(-50%);
	border-radius: 4px;
	transition: background .1s;
}
.filter__label > input:checked + span::after{
	background: #ffad32 url(../../public/tracking-6-white.svg) no-repeat;
	background-size: 80%;
	background-position: center;
	border-color: #ffad32;
}

.filter__label > input {
	display: none;
}

.miniTitle {
  font-size: 1rem;
  font-weight: 600;
}

.item {
  display: flex;
  gap: 6px;
  margin-bottom: 4px;
  cursor: pointer;
}

.button {
  position: relative;
  text-align: center;
  font-weight: 500;
  border-radius: var(--button-border-radius);
  background: var(--accent-color);
  font-weight: 700;
  padding: 8px 0;
  cursor: pointer;
  border: none;
}
.button:hover {
  background: var(--accent-color-hover);
}

.addButton {
  background: #ffcf72;
}
.addButton:hover {
  background: var(--accent-color-hover);
}

.closeButton {
	display: none;
  position: relative;
  margin-top: auto;
  background: var(--main-color-darker);
}
.closeButton:hover {
  background: var(--main-color);
}

@media only screen and (max-width: 755px) {
	.filters{
		padding: calc(var(--vertical-gap) * 2) calc(var(--horizontal-gap) * 2);
	}
	.addButton{
		display: none;
	}
	.closeButton {
		display: initial;
	}
}

@media only screen and (min-width: 756px) and (max-width: 961px) {
	.filters{
		padding: calc(var(--vertical-gap) * 2) calc(var(--horizontal-gap) * 2);
	}
	.addButton{
		display: none;
	}
	.closeButton {
		display: initial;
	}
}
