.request{
    border-radius: 10px;
    background-color: #E1E9F4;
    padding: 24px;
}

.request__items{
    display: flex;
    gap: 50px;
}

.request__item{
    width: 100px;
    margin-bottom: 24px;
}

.request__item_title{
    color: #000;
    font-size: 12px;
    font-weight: 300;
}

.request__item_value{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.request__button{
    background: #FFAD32;
    border-radius: 20px;
    border: none;
    padding: 12px 20px;
    width: max-content;
    font-size: 12px;
    margin-top: 10px;
}
@media (max-width: 500px){
    .request__items{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .request__item{
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    .request__button{
        margin-top: 0px;
    }
}